{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">All Trainers</h1>

    <h2 class="mt-5">Statistics</h2>
    <ul>
        <li><em># of trainers</em>: {{trainers.paginate().total}}</li>
    </ul>

    <div class="row mt-5">
        <div class="col">
            <h2>Overview</h2>
        </div>
        <div class="col text-right">
            <a href="add/" class="btn btn-primary" role="button">Add Trainer</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Account</th>
            </tr>
        </thead>
        <tbody>
            {% for trainer in trainers %}
            <tr>
                <th scope="row">{{trainer.id}}</th>
                <td>{{trainer.account}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
